# Python bytecode and cache
__pycache__/
*.pyc

# Local Data Stores (Handled by DVC instead of Git)
dvc add data/raw/healthcare_raw.csv
dvc add data/processed/healthcare_preprocessed_master.csv

# MLflow local run tracking data
mlruns/
mlartifacts/

# Virtual Environments
venv/
.venv/
env/

# IDE files
.vscode/
.idea/
.DS_Store

# MLflow SQL Database backends
mlflow.db
*.db

# Local Environment Variables (Extremely Critical)
.env
*.env

# App state caches
.streamlit/